@import '../assets/fonts';

.myTitle {
     font-family: '3dTitle', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 25vh;
    z-index: 10;
}


.title-container {
    background-color: $secondary-color;
    height: 100%;
}

.circle-1 {
    width: 25vh;
    height: 26vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: initial;
    align-items: center;
    background-image: url('../../public/profile.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: white 18px solid;
    background-position: -15px;
    margin-right: -11px;
}

.header-top-right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    justify-content: space-around;
}

