.App {
    background-color: $primary-color;
    height: 30vh;
}

.title-container {
    background-color: $secondary-color;
    height: 100%;
}

.circle-1 {
    width: 19vw;
    height: 32vh;
    background-color: white;
    margin-left: 41%;
    display: flex;
    justify-content: center;
    align-content: initial;
    align-items: center;
    background-image: url('../../public/profile.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: white 50px solid;
    margin-left: 30%;
    background-position: -20px;
}

.header-top-right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    justify-content: space-around;
}