.typewriter {
  width: 70%;
  overflow: hidden;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 84%;

  h1 {
    line-height: 6vh;
    text-align: center;
    white-space: pre-wrap;
    word-break: break-word; 
    margin: 0; 
    letter-spacing: .15em;
  }
}