.sideBar-container {
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 72vh;
    padding-left: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}