.sideBar-container {
    position: fixed;
    top: 25vh;
    left: 0;
    z-index: 10;
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75vh;
    width: 25%;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}