.skills {
    height: 30vh;
    width: 30vh;
    animation: rotation1 5s linear infinite;
}


.skill-container {
    width: 13vh;
    height: 13vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: rotation2 5s linear infinite;
}

.skills-bg {
    border: solid 3px white;
    border-radius: 30px;
    width: 36vh;
    height: 36vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-container p {
    font-size: 13px;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 63vh;
}

@keyframes rotation1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


@keyframes rotation2 {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}