.skills-mob {
    flex-direction: column;
    margin-top: 60vh;
    gap: 75px;
    color: white;
}

.mob-title {
    border: 1px solid;
    width: 70%;
    text-align: center;
    height: 83px;
    padding: 20px;
    border-radius: 39px;
    font-weight: bold;
    font-size: 23px;
    margin-top: 90px;
}