.skills {
    height: 26vh;
    width: 26vh;
    animation: rotation1 4s linear infinite;
}


.skill-container {
    width: 13vh;
    height: 13vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: rotation2 4s linear infinite;
}

.skill-container p {
    font-size: 13px;
}
@keyframes rotation1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


@keyframes rotation2 {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}