@import 'variables';
@import 'header';
@import 'sidebar';
@import 'homeNav';
@import 'skills';

body {
    width: 100vw;
    height: 100vh;
    background-color: $primary-color;
}

main {
    height: 72h;
}

.App {
    height: 100vh;
    font-family: $font-family;
}
