@import 'variables';
@import 'header';
@import 'sidebar';

body {
    width: 100vw;
    height: 100vh;
    background-color: $primary-color;
}

.App {
    height: 100vh;
    font-family: $font-family;
}
